:root {
  --dark: #061130;
  --blue: #1C4BC4;
  --white: #F4F6F8;
  --yellow: #FAFD61;
  --grey: #c2c2c2;

}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  filter: drop-shadow(0px 3px 5px #00000048)
}

.btn {
  margin: 1em;
  color: white;
  background-color: unset;
  border: unset;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0px 3px 5px #2f090934;
  cursor: pointer;
}

.blue-btn {
  background-color: var(--blue);
  color: white;
  padding: .5em;
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0px 3px 5px #2f090934;
  border: unset;
  cursor: pointer;
}


Body {
  margin: unset;
  background-color: var(--dark);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.text-yellow {
  color: var(--yellow);

}

a {
  color: var(--blue);
}

.end-bar {
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  padding: 3em;
}

.d-flex {
  display: flex;
  justify-content: space-around;

}

.w-35 {
  width: 35%;
}

.w-65 {
  width: 65%;
}

.margin-main {
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 2em;

}

.padding-left {
  padding-left: 20em;
}

.padding-right {
  padding-right: 15em;
}

.world-img {
  /* padding: 10px; */
  width: 100%;
  cursor: crosshair;
}

footer {
  color: var(--dark);
  text-align: center;
  background-color: #c2c2c2;
  margin: unset;
  flex-grow: 1;
  padding: 20px;
}



.p-tab {
  background-color: var(--white);
}

.penguin {
  width: 500px;
  cursor: grab;

}

.p-header {
  font-size: 75px;
  font-weight: bold;
  text-align: center;
}

.sub-header {
  font-weight: bold;
  text-align: center;

}

.p-box {
  padding: 3em;
}

.bolder {
  font-weight: bolder;
  text-decoration-line: underline;
}

.tiny {
  font-size: 10px;
  text-align: center;
}